﻿@model FizzBuzz.Models.FizzBuzzModel

@{
    ViewBag.Title = "Fizz Buzz";

}

<h2>Fizz Buzz </h2>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/_references.js")

}


@using (Html.BeginForm("GetFizzBuzz", "FizzBuzz", FormMethod.Post))
{
    <table class="default1">
        <tr>
            <td> Fizz Buzz Count</td>
            <td> @Html.TextBoxFor(m => m.FizzBuzzCount)  (1-900)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" id="btnSubmit" value="Submit" /></td>
        </tr>
    </table>

}


