﻿@using FizzBuzz.Models;
@using PagedList.Mvc;

@model PagedList.IPagedList<FizzBuzz.Models.IFizzBuzzItem>

@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <h2>FizzBuzz Result               </h2>
    <h5>   Today is @DateTime.Now.DayOfWeek.ToString()!  @Html.ActionLink("Home", "Index") </h5>
    <h3><u>You have entered  value @ViewBag.FizzBuzzCount!</u></h3>
    <table class="result">
        <tr>
            <td class="resultth"> <h4>Numbder</h4> </td>
            <td class="resultth"> <h4> Fizz Buzz Status </h4></td>
        </tr>
        @{
    foreach (var fizzBuzzItem in Model)
    {

        <tr>
            <td class="resultth">@fizzBuzzItem.Index</td>
            <td class="resultth"><label title="@fizzBuzzItem.Text" style="color:@fizzBuzzItem.Color.Name">@fizzBuzzItem.Text</label></td>
        </tr>

    }
        }

    </table>
    <table class="paging">
        <tr>
            <td>
                <div id='Paging' style="text-align:center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Paging", new { page, ViewBag.FizzBuzzCount }), PagedListRenderOptions.MinimalWithPageCountText)
                </div>

            </td>
        </tr>
    </table>

}


