﻿
@{
    ViewBag.Title = "FizzBuzz - Invalid Input";
}

<h2>FizzBizz Exception</h2>
<h3> <label style="color:red" >
     Error: Invalid FizzBuzz value. Value should be between @FizzBuzz.Models.ConfigSettings.FizzBuzzMinValue and @FizzBuzz.Models.ConfigSettings.FizzBuzzMaxValue.
    </label></h3>
<h5>@Html.ActionLink("Home", "Index")</h5>