﻿body {
    font-size: .85em;
    font-family: "Segoe UI",Calibri, Helvetica, Sans-Serif;
    color: #232323;
    background-color:ActiveCaption ;
}

header, footer, nav, section {
    display:block;
}

/* FizzBuzz Custom style ----------------------------------------------*/
.default1 {
    border:thick;
    background-color:white;
    border-width:medium;
    border:medium;
    border-color:black;
   
}

.result {
    border:thick;
    background-color:white;
    border-width:medium;
    border:medium;
    border-color:black;
    border:groove;
     border-collapse:separate;
     text-align:center;
     
}

.resultth {
    border:thick;
    background-color:white;
    border-width:medium;
    border:medium;
    border-color:black;
    border:groove;
     border-collapse:separate;     
     text-align:center;
     font-weight:600;
}

.paging {
    border:thick;
    background-color:ActiveCaption;
    border-width:medium;
    border:medium;
    border-color:black;    
    font-weight:600;
    
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 10px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
